# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db
